@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono');
.header {
display: block;
text-align: center;
background: #FDD835;
background-size: contain;
height: 250px;
padding-top:30px;
width: auto;
font-family: 'Press Start 2P', cursive;
}
body {
margin: 0;
padding: 0;
font-family: 'Roboto Mono', monospace;
}
.main-content {
height: auto;
display: block;
background: lightyellow;
background-size: contain;
padding: 10px;
}
.footer {
display: block;
text-align: center;
background: #333333;
background-size: contain;
height: auto;
color: white;
padding:20px;
font-family: 'Press Start 2P', cursive;
}
.footer a:link {
text-decoration: none;
color: white;
text-align: center;
}

.footer a:visited {
text-decoration: none;
color: white;
text-align: center;
}
img {
width: 25%;
height:auto;
float:left;
}
h3 {
clear:left;
}
.numb {
border: solid black 1px;
border-radius:5px;
}
.buy {
background:#0288D1;
border:none;
border-radius:10px;
padding: 10px;
font-size: 15px;
}
.header a:link {
text-decoration: none;
color: black;
text-align: center;
}

.header a:visited {
text-decoration: none;
color: black;
text-align: center;
}
#hed-nav a:hover {
font-size: 23px;
color: #CD5C5C;
}