@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background-color: #333333;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
.input {
  background-color: #00FF66;
  color: #000000;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}
#inp1 {
  margin-left: 630px;
  margin-top: 300px;
}
#inp2 {
  margin: 20px;
  margin-left: 797px;
  position: absolute;
  top: 364px;
}
header {
  background-color: #666666;
  background-size: contain;
  text-align: center;
  padding-top: 1px;
  vertical-align: middle;
}
.form1 {
margin-left: 635px;
border-radius: 5px;
margin-top: 20px;
}
.form3 {
  margin-left: 635px;
  border-radius: 5px;
  position: absolute;
  top: 490px;
  margin-bottom: 10px;

}
.form {
  width: 130px;
  height: 25px;
  background: #C0C0C0;
  color: #000000;
}
.form2 {
  margin-left: 805px;
  border-radius: 5px;
  position: absolute;
  top: 450px;
}
.form4 {
  margin-left: 805px;
  border-radius: 5px;
  position: absolute;
  top: 490px;
}
nav {
  background: #666666;
  padding: 30px;
  margin-right: 10px;
  background-size: contain;
  text-align: center;
  width: 1540px;
  padding-bottom: 53px;
}
.a {
 margin-right: 100px;
 text-decoration: none;
 text-transform: uppercase;
}
a:visited {
  color: white;
}
.a:link {
  color: white;
}
img {
  height: 50px;
  width: 50px;
}
#svg_cc {
  margin: 0px;
  word-spacing: 0px;
  margin-left: 1360px;
  color: white;
}
#svg-vk_link {
  position: absolute;
  top: 842px;
  left: 1520px;
}
.cc-link:visited {
  color: white;
  text-decoration: none;
}
.cc-link:link {
  color: white;
  text-decoration: none;
}
#svg-yt_link {
  position: absolute;
  top: 842px;
  left: 1400px;
}
